.clip {
    position: absolute;
    clip: rect(0 0 0 0);
}

.btn {
    display: inline-block;
    line-height: 2;
    padding: 0 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    &.choose-btn{
        background-color: #00a1ee;
    }
    &.download-btn{
        background-color: red;
    }
}